.container{
    color: black;
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 350px; 
    margin: 10px auto;
    border:3px solid black;
    border-radius:12px;
}
.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
}
.login{
    width: 100px;
    padding: 10px;
    background-color:#4285cdff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor:  pointer;
    font-size: 16px;
}
.msg{
     padding: 10px;
    width:20em;
    margin-bottom: 15px; 
    border-radius: 4px;
    color: white;
}